@font-face{
    font-family:"JFFlatRegular";
    src:url("../fonts/JFFlatRegular.ttf");
}

img{
    width:100%;
}
a{
 text-decoration: none;   
}
a:hover{
    color:black
}
:root{
    --maincolor:#7657E5;
    --button-color:#8264EE;
    --skipBtn-color:#69E4F9
}

ul{
    padding:0;
    margin:0;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
body{
     font-size: 16px;
    background-color: #fff;
    position: relative;
    direction: rtl;
    text-align: right;
    font-family:var(--font-famiy);
    color:var(--font-color);
overflow-x: hidden;
}
.errorPage{
    padding-top:200px;
    padding-bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/errorBG.png");
}
.errorRightSide h5{
    font-size:2.3em;
    color:var(--maincolor);
    margin-bottom: 70px;;
}
.errorRightSide p{
    font-size:1.3em;
    color:#343A40;
}
.errorPage2 .errorRightSide h5{
    margin-bottom:10px;
}
.errorPage2 .errorRightSide{
    margin-bottom:70px;
}